Repository manfer993/Newman-test: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

ci: :green_heart: add branch name validator
  .husky/pre-commit
Due: none

ci: :green_heart: add branch name validator (#1)
  .husky/pre-commit
Due: none

feat(core): :sparkles: add booking crud test
  collections/Booking.postman_collection.json
  collections/Strapi_POC.postman_collection.json
  collections/workshop.postman_collection.json
  data/workspace.postman_globals.json
  environments/Dev.postman_environment.json
  environments/Local_PoC.postman_environment.json
  environments/demo.postman_environment.json
  package.json
  scripts/app.js
Due: prettier --write, eslint

docs(settings): :memo: add vscode settings file
  .vscode/settings.json
Due: none

ci: add settings scope
  .vscode/settings.json
Due: none

Feature booking api test crud (#2)
  .vscode/settings.json
  collections/Booking.postman_collection.json
  collections/Strapi_POC.postman_collection.json
  collections/workshop.postman_collection.json
  data/workspace.postman_globals.json
  environments/Dev.postman_environment.json
  environments/Local_PoC.postman_environment.json
  environments/demo.postman_environment.json
  package.json
  scripts/app.js
Due: prettier --write, eslint

refactor(core): :lock: add secret
  .github/workflows/github-actions-htmlextra-report.yml
  .gitignore
  environment example.json
  scripts/app.js
Due: prettier --write, eslint

ci(settings): :green_heart: update ci versions
  .github/workflows/github-actions-htmlextra-report.yml
Due: none

feat(core): :construction_worker: remove unused files and update api call via ci
  .github/workflows/github-actions-demo.yml
  .github/workflows/github-actions-htmlextra-report.yml
  collections/Booking.postman_collection.json
  docs/pull_request_template.md
  environments/Dev.postman_environment.json
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{js,jsx,feature}) or (any of: **/*.md)
  eslint: any of: **/*.{js,jsx,feature}
